<div class=chart-js>
 <h3>宮古島MAP</h3>

<div class=map-container>
  <div class="map">
    <p><img src="/assets/map-1.png" alt="map" width="700px" height="700px"></p>
  </div>
  <div class="chart">
  <p>宮古島の詳細地図を国土地理院のデータから作成</p>
  <p>島ごとのいいねの数とハッシュタグ利用率をChart.jsで円グラフにし可視化</p>
  <p>島をクリックすると詳細ページに飛ぶ</p>
  <p>詳細ページから観光スポット情報、特産物のECサイトにリンク</p>
  <p>【応用】</p>
  <p>地理情報システムQJISを使って、ハッシュタグと地図の座標を紐付ける</p>
  <p>ツイート数＝円の大きさにして地図上にアップし、目で見てどのスポットが人気かわかるようにする</p>
  <div class="miyako-chart">
    <div class="miyako-likes">
      <canvas id="myPieChart"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>

      <script>
      var ctx = document.getElementById("myPieChart");
      var myPieChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
          labels: ["宮古島", "伊良部島", "下地島", "来間島","池間島"],
          datasets: [{
              backgroundColor: [
                  "#BB5179",
                  "#FAFF67",
                  "#58A27C",
                  "#3C00FF",
                  "pink"
              ],
              data: [38, 10, 21, 19,12]
          }]
        },
        options: {
          title: {
            display: true,
            text: '宮古島 いいね数'
          }
        }
      });
      </script>
      </div>
      <div class="miyako-hash">
      <canvas id="myPieChart2"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>

      <script>
      var ctx = document.getElementById("myPieChart2");
      var myPieChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
          labels: ["宮古島", "伊良部島", "下地島", "来間島","池間島"],
          datasets: [{
              backgroundColor: [
                  "#BB5179",
                  "#FAFF67",
                  "#58A27C",
                  "#3C00FF",
                  "pink"
              ],
              data: [22, 30, 14, 30,10]
          }]
        },
        options: {
          title: {
            display: true,
            text: '宮古島 ハッシュタグ利用率'
          }
        }
      });
      </script>
      </div>
  </div>
</div>
