<div class="user-images">
  <% @posts.each do |post| %>
    <div class="wrapper">
      <%= link_to post_path(post) do %>
        <%= image_tag post.image %>
      <% end %>
    </div>
  <% end %>
</div>
<% link_to "ホームへ戻る",posts_path %>