<div class="aside-bar">
  <aside>
    <ul>
      <li><a href="#"><img class="image" src="/assets/topic-1.jpg" alt="" height="150" width="150"></a></li>
      <li><a href="#"><img class="image" src="/assets/topic-2.jpg" alt="" height="150" width="150"></a></li>
      <li><a href="#"><img class="image" src="/assets/topic-3.jpg" alt="" height="150" width="150"></a></li>
    </ul>
    <button><img src="/assets/btn_open.png" alt="" ></button>
  </aside>
</div>
<div class="user-images">
  <% @posts.each do |post| %>
    <div class="wrapper">
      <%= link_to post_path(post) do %>
        <%= image_tag post.image %>
      <% end %>
    </div>
  <% end %>
</div>
<% link_to "ホームへ戻る",posts_path %>