<header class="slide-header">
  <div class="inner">
    <div class="slideshow">
        <div class="slideshow-slides">
            <a href="./" class="slide" id="slide-1"><%= image_tag 'slide-1.jpg' %></a>
            <a href="./" class="slide" id="slide-2"><%= image_tag 'slide-2.png' %></a>
            <a href="./" class="slide" id="slide-3"><%= image_tag 'slide-3.jpg' %></a>
        </div>
        <div class="slideshow-nav">
            <a href="#" class="prev">Prev</a>
            <a href="#" class="next">Next</a>
        </div>
        <div class="slideshow-indicator"></div>
    </div>
  </div>
  <div class='wave-box'>
    <div class='wave -one'></div>
    <div class='wave -two'></div>
    <div class='wave -three'></div>
    <div class='title'>MIYAKOL<span>O</span></div>
    </div>
</header>

<div role="main">
  <section class="topics-section">
    <h2 class="topics">TOPICS</h2>
    <div class="images" id="caption">
      <div class="image-content">
        <h2>Post</h2>
        <p><a href="posts#index"><img class="image" src="/assets/topic-1.jpg" alt="" height="230" width="304"><strong>好きな景色を投稿しよう</strong><span></span></a></p>
      </div>
      <div class="image-content">
        <h2>Gallery</h2>
        <p><a href="users#index"><img class="image" src="/assets/topic-2.jpg" alt="" height="230" width="304"><strong>好きな景色を探そう</strong><span></span></a></p>
      </div>
      <div class="image-content">
        <h2>Map</h2>
        <p><a href="home#show"><img class="image" src="/assets/topic-3.jpg" alt="" height="230" width="304"><strong>どこが人気か調べよう</strong><span></span></a></p>
      </div>
    </div>
  </section>

  <section class="info-section" id="info">
    <div class="container">
      <div class="left-inner">
        <div class="info">
          <h2 class="heading">INFO</h2>
          <ul class="scroll-list">
            <li class="scroll-item">
              <a href="#">
                <time class="date" datetime="2020-03-09">2020.03.09</time>
                <span class="category news">NEWS</span>
                <span class="title">NEWSを更新しました</span>
              </a>
            </li>
            <li class="scroll-item">
              <a href="#">
                <time class="date" datetime="2020-03-09">2020.03.09</time>
                <span class="category news">NEWS</span>
                <span class="title">NEWSを更新しました</span>
              </a>
            </li>
            <li class="scroll-item">
              <a href="#">
                <time class="date" datetime="2020-03-09">2020.03.09</time>
                <span class="category news">NEWS</span>
                <span class="title">NEWSを更新しました</span>
              </a>
            </li>
            <li class="scroll-item">
              <a href="#">
                <time class="date" datetime="2020-03-09">2020.03.09</time>
                <span class="category news">NEWS</span>
                <span class="title">NEWSを更新しました</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="share">
          <ul>
            <li>
              <a href="#" onclick="" class="share-tw">
                <i class="fa fa-twitter"></i>
                <span>Twitter</span>
              </a>
            </li>
            <li>
              <a href="#" onclick="" class="share-fb">
                <i class="fa fa-facebook"></i>
                <span>Facebook</span>
              </a>
            </li>
            <li>
              <a href="#" onclick="" class="share-gp">
                <i class="fa fa-google-plus"></i>
                <span>Google+</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="right-inner">
        <div class="twetter">
          <a class="twitter-timeline" data-height="315" href="https://twitter.com/shirokuma71exp?ref_src=twsrc%5Etfw">Tweets by shirokuma71exp</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>
  </section>
</div>

<footer class="page-footer">
  <button type="button" class="back-to-top">
    <span class="label">↑</span>
    </span>
  </button>
</footer>