.display-none{
  display: none;
}

.upload{
  &__container{
    .post__description{
      height: 100px;
    }
    .hash-tag__recommend{
      &__items{
        display: flex;
        &__item{
          padding: 5px;
          border: 1px solid #f5f5f5;
          margin-left: 5px;
          background-color: #d9ecfc;
          border-radius: 3px;
        }
      }
    }
    .post__user__address{
      font-size: 1em;
      &__search{
        width: 100%;
        height: 20px;
        border: 1px solid #f5f5f5;
      }
    }
    .post__submit__btn{
      width: 100%;
      margin: 0 auto;
      height: 50px;
      font-size: 1.3em;
      background-color: #d9ecfc;
      :hover{
        cursor: pointer;
      }
    }
  }
}

.main{
  width: 100vw;
  height: 100vw;
  &__form{
    width: 70%;
    border: 1px solid #dbdbdb;
    height: auto;
    margin: 30px auto;
    padding: 30px;
    border-radius: 3px;
    input[type='text']{
      width: 100%;
    }
    .images{
      border: 1px solid #dbdbdb;
      color: grey;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin: 0 auto;
      padding-top: 35px;
    }
    .description{
      border: 1px solid #dbdbdb;
      border-radius: 5px;
      width: 90%;
      margin: 30px 5px;
      height: 40px;
      padding: 0 10px;
    }
  }
  .main__posts{
    margin: 50px 180px 10px;
    .post{
      border: 1px solid #efefef;
      margin: 60px 0;
      border-radius: 3px;
      &__user{
        border-bottom:1px solid #efefef;
        display: flex;
        &__avatar{
          width: 30px;
          height: 30px;
          margin: 8px;
          img{
            width: 100%;
            height: 100%;
            border: 1px solid #efefef;
            border-radius: 50%;
          }
        }
        &__username{
          padding-top: 13px;
          color: #262626;
          font-size: 14px;
          font-weight: 600;
          text-decoration: none;
          &:hover{
            color: rgb(30, 109, 255);
          }
        }
      }
      .main-image{
        width: 100%;
        border-bottom: 1px solid #efefef;
      }
      .description{
        padding:20px;
      }
    }
  }
  .pagination{
    span{
      padding-right: 10px;
    }
  }
}
.post-show{
  margin: 30px 5px 0;
  border: 1px solid #dbdbdb;
  .image{
    width: 100%;
  }
  .user{
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #efefef;
    .avatar{
      width: 40px;
      height: 40px;
      margin: 8px;
      img{
        width: 100%;
        height: 100%;
        border: 1px solid #efefef;
        border-radius: 50%;
      }
    }
    .usename{
      padding-top: 15px;
      color: #262626;
      font-size: 14px;
      font-weight: 600;
      &:hover{
        text-decoration: none;
      }
    }
  }
  .description{
    padding: 15px 0;
  }
  .delete{
    padding-top: 20px;
    a{
      font-size: 15px;
      text-decoration: underline;
    }
  }
}