@import "bootstrap";
@import "font-awesome";
@import "users";
@import "posts";
@import "home";

.nav-header{
  font-size: 30px;
  line-height: 0px;
  #nav-drawer{
    position: relative;
    .nav-unshown{
      display: none;
    }
    #nav-open{
      display: inline-block;
      width: 30px;
      height: 22px;
      vertical-align: middle;
      span,span:before,span:after{
        position: absolute;
        top:-20px;
        height: 30x;
        width: 250px;
        border-radius: 3px;
        display: block;
        content: '';
        cursor: pointer;
      }
      span:before{
        bottom: -8px;
      }
      span:after{
        bottom: -16px;
      }
    }
    #nav-close{
      display: none;
      position: fixed;
      z-index: 99;
      width: 100%;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: black;
      opacity: 0;
      transition: .3s ease-in-out;
    }
    #nav-content{
      overflow: auto;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999;
      width: 90%;
      max-width: 330px;
      height: 100%;
      padding-top: 50px;
      background: rgb(255,255,255);
      transition: .3s ease-in-out;
      transform: translateX(-105%);
      .nav-details{
        line-height: 30px;
        font-size: 20px;
        margin: 10px 0 20px 10px;
      }
    }
    #nav-input ~ #navclose{
      display: block;
      opacity: .5s;
    }
    #nav-input:checked ~ #nav-content{
      transform: translateX(0%);
      box-shadow: 6px 0 25px rgba(0,0,0,.15);
    }    
  }
}

.container{
  max-width: 1000px;
  .navbar{
    border-bottom: 1px solid rgba(0,0,0,.0975);
  }
}
.user-section{
  a{
    padding-left: 15px;
  }
  .log__in{
    background-color: rgb(0,0,0);
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    color: rgb(255,255,255);
    font-weight: bolder;
    text-decoration: none;
  }
  .log__out{
    background-color: rgb(0,0,0);
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bolder;
    color: rgb(255,255,255);
    text-decoration: none;
  }
}
.search-form{
  input{
    font-size: 13px;
    text-align: center;
  }
}
.footer{
  font-size: 12px;
  padding-top: 30px;
  margin-bottom: 10px;
  width: 100vw;
  p{
    color: #999;
    margin: 0 auto;
  }
}

.search-page{
  h1{
    font-size: 24px;
  }
}